/*Fuentes*/
@font-face {
    font-family: RussoOne;
    src: url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

/*Estilos generales*/
*{
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
    color: black;
}

body{
    width: 85%;
    background-image: url("../assets/img/webb-dark.png");

}

.clear{
    clear: both;
}

form input[type="submit"]{
    cursor: pointer;
}

/*Cabecera*/

#header {
    background-color: #21e1a2e3;
    margin: 20px;
    margin-left: 0px;
    padding: 20px;


}
#logo{
    text-align: center;
    font-size: 40px;
    font-family: RussoOne, sans-serif;


}
#logo a{

    text-decoration: none;
    display: block;
    letter-spacing: 2px;
    color:white;
    text-shadow: 0px 0px 0px black,1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black;
    transition-duration: 0.5s;
}

#logo a:hover{
    text-shadow: 0px 0px 0px black, -1px -1px 0px black, -3px -3px 0px black;
}

/*Menu*/
#menu{
    float: left;
    width: 100%;
    background-color: #ccc;
    border:1px solid black;
    border-radius: 5px;
    margin:20px auto;

}
#menu ul{
    list-style: none;
}
#menu ul li{
    float: left;
    border-right: 1px solid black;


}
#menu ul li a{
    display: block;
    padding:10px;
    text-align: center;
}

#menu ul li:hover{
    background-color: #33f4be;
    border-radius: 5px;
}

/*Contenedor*/
#container{
    display: block;
}

/*Side Bar*/
#side_bar{
    float: right;
    width: 25%;
    padding: 10px;
    padding-top: 0px;
}

.side_menu{
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 1px 1px 3px #ccc, 2px 2px 3px #ccc, 3px 3px 3px #ccc;
    border-radius: 5px;
}

.side_menu h2{
    margin-bottom: 20px;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"]{
    margin-bottom: 10px;
}
input[type="date"]{
    padding: 5px;
    margin-left: 8px;
}


#lastest_posts{
    float: left;
    width: 70%;
    background-color: white;
    padding: 10px;
    box-shadow: 1px 1px 3px #ccc, 2px 2px 3px #ccc, 3px 3px 3px #ccc;
    min-height: 605px;
}

#post{
    margin-bottom: 20px;
}

/*Footer*/
#footer{
    margin-top: 20px;
    text-align: center;
    background-color: #ccc;
    padding: 10px;

}



