/*Fuentes*/
@font-face {
    font-family: RussoOne;
    src: url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
}

/*Estilos generales*/
*{
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
}

body{
    width: 85%;
    background-image: url("../assets/img/webb-dark.png");
    color: white;
}

/*Cabecera*/

#cabecera {
    background-color: #21e1a2e3;
    margin: 20px;
    margin-left: 0px;
    padding: 20px;


}
#cabecera h1{
    text-align: center;
    font-size: 40px;
    font-family: RussoOne, sans-serif;

}
#cabecera h1 a{
    color: white;
    text-decoration: none;
    display: block;
    letter-spacing: 2px;
}

/*Menu*/
#menu{
    float: left;
    width: 100%;
    background-color: #ccc;
    border:1px solid black;
    border-radius: 5px;
    margin:20px auto;

}
#menu ul{
    list-style: none;
}
#menu ul li{
    float: left;
    border-right: 1px solid black;


}
#menu ul li a{
    display: block;
    padding:10px;
    text-align: center;
}

